header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.flex-container {
  display: flex;
}

.header-container {
  justify-content: space-between;
  align-items: center;
}

.brand {
  align-items: center;
}

.brand-name {
  color: MediumAquamarine;
  align-items: center;
  margin-left: 5px;
}

.navigation {
  width: 400px;
  justify-content: space-around;
}

nav ul li a {
  display: inline-block;
  color: Black;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  text-decoration: underline;

}

.main-story {
  background-image: url("./../resources/img/mainstory.png");
  display: flex;
  background-size: cover;
  align-items: center;
  height: 300px;
}

.column {
  margin-right: 20px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

.title-footer {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
